@font-face{
    font-family: 'RubikMonoOne';
    src: url('../font/RubikMonoOne-Regular.ttf');
}
.Stev-Navbar{
    background-color: #23283A !important;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.Stev-Navbar .Stev-Title{
    font-family: "RubikMonoOne";
}
.Stev-filter-bar{
    width: 100%;
    background-color: #0E1128;
    color: white;
    padding: 55px 30px 0 30px;
    position: sticky;
}
.Stev-filter-icon-filter{
    padding: 20px;
}
.Stev-filter-button{
    padding: 20px 10px;
    width: 150px;
    background-color: #0E1128;
    color: white;
    border: none;
}
.Stev-filter-button:hover{
    background-color: #151515;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #CBD4D9;
}
.Stev-Button-Search{
    background-color: #ED4C67;
    color: white;
}
.Stev-Button-Search:hover{
    background-color: #BE1733;
    color: white;
}
.Stev-form-image{
    position: relative; 
    margin: 0 auto ;
    text-align: center;
}
.Stev-form-image .fa{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
}
.Stev-form-control{
    background-color: #FFF;
    border: none;
    outline: none;
    z-index: 1;
}
.Stev-search-dropdown-box{
    width: 106%;
    background-color: #f2f2f2;
    padding: 20px 0 10px 0;
    margin-top: 25px;
    z-index: 0;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 5px 5px rgb(169, 181, 187);
    max-height: 300px;
    overflow: auto;
}
.Stev-search-dropdown-box .img{
    object-fit: cover;
    width: 100%;
    height: 80px;
}
.Stev-search-dropdown-box .row{
    padding: 20px 20px;
}
.Stev-search-dropdown-box .row:hover{
    background-color: #dadada;
    cursor: pointer;
}
.Stev-header{
    border-bottom: 2px solid #ED4C67;
    width: 50%;
}
.Stev-card-title{
    font-size: 14pt;
    font-weight: bold;
    height: 56px;
    overflow: hidden;
}
.Stev-card-paragraph{
    font-size: 10pt;
    height: 100px;
    overflow: hidden;
}
.Stev-img-card{
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    object-fit: cover;
}
.Stev-Tag-box{
    font-size: 8pt;
    padding: 5px 10px;
    background-color: #2663FF;
    color: white;
    display: inline;
    border-radius: 10px;
}

/* tambahan alpi */
.Stev-ticket-status-confirmed{
    color: #39FF14;
}
.Stev-ticket-status-pending{
    color: #FC6600;
}
.Stev-ticket-jadwal{
    float: right;
    margin-right: 40px;
    margin-top: 18px;
    text-align: center;
}
.Stev-ticket-jadwal-tanggal{
    font-size: 50px;
    margin-top: -35px;
    margin-bottom: -21px;
}


.Stev-event{
    z-index: 1;
    padding-top: 80px;
}
.Stev-event-content{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.Stev-event-header-content{
    color: #ED4C67;
}
.Stev-event-content-date-container{
    background-color: #FBD2D9;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 24pt;
}
.Stev-event-content-date-icon{
    color: #ED4C67;
    margin: 30% 0 0 30%;
}
.Stev-event-content-order{
    background-color: #ED4C67;
}
.Stev-event-description-box{
    padding: 0 20px;
}
.Stev-event-description-menu{
    font-weight: bold;
}
.Stev-event-description-menu div{
    padding : 0 20px 10px 20px;
    text-align: center;
    display: inline;
}
.Stev-event-description-menu .active{
    color: #5987FC;
    border-bottom: 2px solid #5987FC;
}
.Stev-event-description-menu div:hover{
    color: #5987fc;
    cursor: pointer;
}
.Stev-event-comment {
    width: 100%;
}
.Stev-comment-img{
    width: 80px;
    height: 80px;
}
.Stev-event-modal{
    width: 100%;
    position: fixed;
    top:15%;
    z-index: 15;
}
.Stev-event-modal-background{
    width: 100%;
}
.Stev-event-modal-background img{
    width: 100%;
    position: relative;
    z-index: -1;
    border-radius: 5px 5px 0 0;
}
.Stev-event-modal-content{
    z-index: 10;
    margin-top: -100px;
    background-color: white;
    padding: 10px 30px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.Stev-event-modal-button{
    text-align: center;
    color: white;
    background-color: #ED4C67;
}
.Stev-event-modal-cover{
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: fixed;
    z-index: 11;
}
.hidden{
    display: none;
}
.Stev-organizers-create-event{
    position: inline-block;
    width: 230px;
    height: 300px;
    margin-bottom: 25px;
}
.Stev-organizers-create-event:hover{
    text-decoration: none;
}
.Stev-organizers-create-event img{
    height: 300px;
    width: 230px;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
}
.Stev-organizers-create-event-cover{
    background-color: black;
    opacity: 0.4;
    width: 230px;
    height: 300px;
    position: absolute;
    z-index: 6;
    border-radius: 5px;
}
.Stev-organizers-create-event-plus{
    position: relative;
    z-index: 11;
    left: 25%;
    top: 15%;
    color: white;
    font-size: 96pt;
}
.Stev-organizers-create-event-newEvent{
    position: relative;
    z-index: 11;
    left: 25%;
    color: white;
    font-size: 16pt;
}
.Stev-organizers-create-event:hover .Stev-organizers-create-event-cover{
    opacity: 0.6;
    cursor: pointer;
} 
.Stev-organizers-create-event-title{
    position: relative;
    z-index: 7;
    left: 8px;
    color: white;
    font-size: 16pt;
    font-weight: bold;
}
.Stev-button{
    background-color : #23283A;
    color: white;
}
.Stev-button:hover{
    background-color: #151515;
    color: white;
}

.Stev-progressBar li{
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.Stev-progressBar li:before{
    width: 30px;
    height: 30px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.Stev-progressBar li:after{
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.Stev-progressBar li:first-child:after{
    content: none;
}
.Stev-progressBar li.active{
    color: #23283A;
}
.Stev-progressBar li.active:before{
    border-color: rgb(73, 81, 112);
    background-color: rgb(10, 19, 51);
    color: white;
}
.Stev-progressBar li.active + li:after{
    background-color: rgb(73, 81, 112);
}

.Stev-dashboard-menu{
    width: 100%;
    min-height: 600px;
    position: fixed;
    background-color: #0E1128;
    padding: 0 !important;
}
.Stev-dashboard-menu .button-menu{
    width: 100%;
    background-color: #0E1128;
    color: white;
    padding: 15px 30px;
}
.Stev-dashboard-menu .button-menu:hover{
    background-color: #000000;
    cursor: pointer;
}
.Stev-dashboard-menu .button-menu span{
    font-size: 20px;
    margin-right: 15px;
}


.Stev-input-file:hover{
    cursor: pointer;
}
